
bin/
.DS_Store
.gradle/
.idea/
.vscode/
*.iml
*.ipr
*.iws
/.classpath
/.project
/.settings/
**/build/
!buildSrc/src/main/java/com/agentengine/build/**
**/out/
**/target/
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.gguf
llamacpp_models/
deploy/connections.json
!gradlew
!gradlew.bat
!gradle/wrapper/
.worktrees/
